
<select class="custom-select my-1 mr-sm-3" style="width:52%" id="secondOption">
	
	<% if(data[0].stock==0) {%>
		<option value="0" selected="selected" ><%=data[0].name%>&nbsp;&nbsp;[품절]</option>
	<% } else { %>
		<option value="<%=data[0].no%>" selected="selected"><%=data[0].name%></option>	
	<% } %>
	<%
	
	for(var i=1; i<data.length; i++){
		var vo = data[i];	
	%>
	
	<% if(vo.stock==0) { %>
		<option value="0">
			<%=vo.name%>품절
		</option>
	<% } %>
		<option value="<%=vo.no%>"><%=vo.name%></option>
	<%
	}
	%>	
</select>

